@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 80px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.logo {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.navbar a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 50px;
  position: relative;
  transition: color 0.3s ease-in-out;
}

.navbar a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.3s ease-in-out;
}

.navbar a:hover {
  color: #fff;
}

.navbar a:hover::before {
  width: 100%;
}

.navbar a:not(:hover)::before {
  width: 0;
  right: 0;
  left: auto;
  transition: width 0.3s ease-in-out;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.bg-slide,
.bg-slide .circle,
.bg-slide .circle img,
.circle-darktransp {
  position: absolute;
  width: 100%;
  height: 100%;
}

.bg-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-slide .circle {
  pointer-events: none;
  user-select: none;
  overflow: hidden;
}

.bg-slide.active .circle {
  z-index: 10;
}

.bg-slide .circle.large,
.circle-darktransp {
  clip-path: circle(50% at 50% 50%);
}
.bg-slide .circle.small {
  clip-path: circle(30% at 50% 50%);
}

.bg-slide.active .circle.small {
  z-index: 12;
}

.bg-slide .circle img {
  object-fit: cover;
  transform: rotate(0deg) scale(2);
}

.circle-darktransp {
  background: rgba(8, 4, 4, 0.1);
  z-index: 11;
}

.bg-slide .content-text {
  position: absolute;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bg-slide .content-text .content-text .country {
  margin-top: 60px;
}

.content-text .place h1,
.content-text .country h2 {
  color: #fff;
  text-transform: uppercase;
  line-height: 1;
}

.content-text .place h1 {
  font-size: 60px;
  letter-spacing: 80px;
  margin-right: -80px;
}

.content-text .country h2 {
  font-size: 60px;
  letter-spacing: 80px;
  margin-right: -30px;
}

.line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  width: 500px;
  height: 2px;
  background: #fff;
  z-index: 100;
}

.rotate-btn {
  position: absolute;
  bottom: 60px;
  right: 60px;
  width: 60px;
  height: 60px;
  background: transparent;
  backdrop-filter: blur(10px);
  border: 2px solid #fff;
  border-radius: 50%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rotate-btn i {
  font-size: 40px;
  color: #fff;
}
